<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GitHub Repos</title>
  <link href="dist/styles/main.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" rel="stylesheet" type="text/css">

</head>
<body>
  <header>
    Search GitHub
  </header>

  <section class="sidebar">
  </section>

  <div class="mainWidth">
    <nav>
      Contributions
    </nav>
  <div class="search">
    Find a repository...
  </div>
  <section>
    <ul class="repos">
<!--      <li>
<a class="name" href="http://www.espn.com">Example Repo</a>
<div class="ifForked">forked from simplabs/ember</div>
<div class="commitMsg">Added some stuff.</div>
<div class="whenUpdated">Updated x days ago</div>
</li>
-->
</ul>
</section>
</div>				<!-- *END div mainWidth*/ -->

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>  
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<script src="token.js"></script>

<script type="text/template" id="sidebarTemplateScript">

<div class="user">
<img src="<%= avatar_url %>" />
<h1>
<span><%= name %></span>
<span><%= login %></span>
</h1>
</div>
<ul class="profile">

<% if (company) { %>
<li><span class="octicon octicon-organization"></span><%= company %></li>
<% } %>

<% if (location) { %>
<li><span class="octicon octicon-location"></span><%= location %></li>
<% } %>

<% if (email) { %>
<li><span class="octicon octicon-mail"></span><%= email %></li>
<% } %>

<% if (blog) { %>
<li><span class="octicon octicon-link"></span><%= blog %></li>
<% } %>
  
<% if (created_at) { %>
<li><span class="octicon octicon-clock"></span><%= created_at %></li>
<% } %>

</ul>

<div class="follow">
</div>

</script>

<script type="text/template" id="followTemplateScript">

<a href="">
<strong>
<%= followers %> 
</strong>
<span>
Followers
</span>
</a>

<a href="">
<strong>
<%= starred %>
</strong>
<span>
Starred
</span>
</a>

<a href="">
<strong>
<%= following %>
</strong>
<span>
Following
</span>
</a>

<h3>Organizations</h3>
<div class="orgz">
</div>

</script>

<script type="text/template" id="orgsTemplateScript">
  
<img class="orgs" src="<%= avatar_url %>" />

</script>

<script type="text/template" id="reposTemplateScript">
	
<li>
<div class="repo-list-stats"><%= language %> <span class="octicon octicon-star"></span> <%= stargazers_count %> <span class="octicon octicon-git-branch"></span>Forks</div>
<a class="name" href="<%= html_url %>"><%= name %></a>


<% if (fork) { %>
<div class="fork">
<span class="octicon octicon-repo-forked"></span>
<%= fork %>
</div> 
<% } %>


<div class="description"><%= description %></div>            
<div class="updated_at">Updated <%= updated_at %></div>
<!-- <div class="participation-graph">GRAPH</div> -->
</li> 

</script>

<footer>
C 2014 GitHub, Inc.
</footer>


<script src="main.js"></script>

</body>
</html>